body{
        background: #DFDFC9;
}

table {

    border: 1px solid;
    border-color: #C0C0C0;
    padding: 0;
    background-color: #3D2D86;
    color: red;
    background-position: top left;
    background-repeat: repeat-x;

}